.container {
  background-color: #000;
  padding: 20px 0 50px 0;

  @media screen and (min-width: 768px) {
    padding: 30px 0 70px 0;
    height: 600px;
  }
}

.logoLink {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  display: block;
  background-color: #fff;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.32);

  @media screen and (min-width: 768px) {
    width: 50px;
    height: 50px;
  }
}

.logo {
  width: 100%;
  border-radius: 5px;
  opacity: 0.5;
}

.heroContainer {
  padding-top: 160px;
  color: #fff;

  @media screen and (min-width: 480px) {
    padding-top: 200px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 50px;
  //   padding-top: 200px;
  }
}

.backgroundGif {
  background-image: url(../../images/NTHO.gif);
  position: absolute;
  background-repeat: no-repeat;
  background-size: 260px auto;
  width: 250px;
  height: 350px;
  right: 5px;
  top: -11px;
  opacity: 0.7;
  z-index: 1;

  @media screen and (min-width: 480px) {
    background-size: 400px auto;
    width: 400px;
    height: 400px;
    right: 3px;
    top: -34px;
  }

  @media screen and (min-width: 768px) {
    background-size: 600px auto;
    width: 600px;
    height: 600px;
    top: -99px;
  }

  @media screen and (min-width: 1240px) {
    background-size: 700px auto;
    width: 650px;
    height: 650px;
    right: -55px;
    top: -90px;
  }
}

.name {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
  z-index: 2;
  position: relative;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 16px;
  z-index: 2;
  position: relative;

  @media screen and (min-width: 480px) {
    font-size: 51px;
  }

  @media screen and (min-width: 768px) {
    font-size: 55px;
  }
}

.slogan {
  font-weight: 400;
  font-size: 11px;
  z-index: 2;
  position: relative;

  @media screen and (min-width: 480px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  @media screen and (min-width: 480px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 80px;
  }
}

.heroBtn {
  color: #fff;
  z-index: 2;
  position: relative;

  span {
    padding-bottom: 12px;
    letter-spacing: 4px;
    font-size: 12px;
    padding-right: 10px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      padding-right: 15px;
    }
  }

  svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }

  &:hover svg,
  &:focus svg {
    transform: translateX(0);
  }

  &:active svg {
    transform: scale(0.9);
  }
}


.underlineAnimation {
  position: relative;
  color: white;
  padding-bottom: 10px;

  &::after {
    content: '';
    position: absolute;
    width: calc(100% + 30px);
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

.heroBtn:hover .underlineAnimation::after,
.heroBtn:focus .underlineAnimation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}